.places {
    top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    border-top: none;
    margin-top: -1px;
    overflow: hidden;
}

.places h1 {
    top: 30px;
    font-size: 30px;
    width: 100%;
}

.places article {
    width:  390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}